.Logo {
    height: 16vmin;
    width: 16vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(148, 15, 15);
    object-fit: contain;
    }